

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;    
  background-color: rgb(253, 216, 222)
}




.whole-content{



    padding: 10px;
    background-color: pink;

    width: 250px;
    height: 250px;
    border: 5px solid black;
    display: flex;
    justify-content: center ;
    column-gap: 80%;
    flex-wrap: wrap;
    align-items: center;

 
    
}






.screen{
    background-color: pink;
    display: flex;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 2rem;
   
}


.clock-screen{
    background-color: rgb(253, 216, 222);
    ;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    border: 5px solid black;
    padding: 10px;
}

.button-controls{
    background-color: rgb(253, 216, 222);
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    border: solid black 5px;
    padding: 10px;
    margin-top: 10px;
}


.btn{
    
  background: none;
  border: 2.5px solid black;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  background-color: pink;

}



